<!-- Written by afoster2373 -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'
        integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>

<div style=' margin: 50px 0 50px 0;'>
    <p> A paragraph explaining the content of this website. A paragraph explaining the content of this website.
        A paragraph explaining the content of this website. A paragraph explaining the content of this website.
        A paragraph explaining the content of this website. A paragraph explaining the content of this website.</p>

    <div style=' margin: 50px 0 50px 0;'>

        <h2 id="one" style=background-color:white;text-align:center;height:300px;>Drag and Drop File Into This Square</h2>
        <h2 id="two" style=display:none;><img src="images/ex3.png" alt="Drag and Drop File Into This Square"></h2>
    </div>

    <button id="1" onclick="loadData()" data-toggle="modal" data-target="#modal-window">Load</button>
    <button id="2" style=display:none; onclick="loadData()">Remove</button>

    <script>
        function loadData() {
            const x = document.getElementById("one");
            const y = document.getElementById("two");
            const w = document.getElementById("1");
            const z = document.getElementById("2");
            if (x.style.display === "none") {
                x.style.display = "block";
                w.style.display = "block";
                y.style.display = "none";
                z.style.display = "none";
            } else {
                w.style.display = "none";
                x.style.display = "none";
                y.style.display = "block";
                z.style.display = "block";
            }
        }
    </script>

    <div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class=" modal-title" id="modal-title">Uploading...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <img class="center" src="https://i.gifer.com/ZKZg.gif" height=400px width=400px
                         alt="Loading Gif">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>